= content_for :panel do 
  = render partial: 'shared/panel', locals: {titulo: "Empresas", accion: "Listado/", |
    botones: [{texto: 'Nueva', ruta: new_empresa_path } ] }

- if @empresas.blank?
  %h2 No existen empresas cargadas
- else
  %table{role: "grid", width: "100%"}
    %thead
      %tr
        %th Nombre
        %th{colspan: 3,style: "text-align: center;"} Acciones

    %tbody
      - @empresas.each do |empresa|
        %tr
          %td= empresa.nombre
          %td= link_to 'Ver', empresa
          %td= link_to 'Editar', edit_empresa_path(empresa)
          %td= link_to 'Borrar', empresa, :method => :delete, :data => { :confirm => '¿Desea borrar la empresa?' }
