= content_for :panel do 
  = render partial: 'shared/panel', locals: {titulo: "Participante: #{@participante.apellido + ', ' + @participante.nombre}", accion: "Ver /", |
    botones: [{ruta: edit_participante_path(@participante), texto: 'Editar'}, {ruta: participantes_path, texto: 'Listado'} ] }

.row 
  .large-4.columns
    .panel
      %p
        %b Empresa:
        = @participante.empresa.nombre
      %p
        %b Documento:
        = (@participante.tipo_de_documento.present? and @participante.numero_de_documento.present? ) ? (@participante.tipo_de_documento.codigo + ":" + @participante.numero_de_documento) : "Desconocido"
      %p
        %b Direccion:
        = @participante.direccion.present? ? @participante.direccion : "La dirección no esta disponible"
      %p
        %b Telefono:
        = @participante.telefono.present? ? @participante.telefono : "Desconocido"
      %p
        %b Celular:
        = @participante.celular.present? ? @participante.celular : "Desconocido"
      %p
        %b Pais:
        = @participante.pais.present? ? @participante.pais.nombre : "Desconocido"
      %p
        %b Provincia:
        = @participante.provincia.present? ? @participante.provincia.nombre : "Desconocido"

  .large-8.columns
    .panel
      = form_for(@participante, url: {action: :imprimir_resultados}, method: :get, auto_labels: false) do |f|
        .row
          .large-12.columns
            %label
              Copie y pegue los cinco talentos 
              = text_area_tag :talentos,nil, rows: 6
        .row
          .large-12.columns
            %ul.large-block-grid-5
              %li
                %ul.vcard
                  %li.fn Primer Talento
                  %li.locality= f.select :talento_1, @talentos, {include_blank: true}
              %li
                %ul.vcard
                  %li.fn Segundo Talento
                  %li.locality= f.select :talento_2, @talentos, {include_blank: true}
              %li
                %ul.vcard
                  %li.fn Tercer Talento
                  %li.locality= f.select :talento_3, @talentos, {include_blank: true}
              %li
                %ul.vcard
                  %li.fn Cuarto Talento
                  %li.locality= f.select :talento_4, @talentos, {include_blank: true}
              %li
                %ul.vcard
                  %li.fn Quinto Talento
                  %li.locality= f.select :talento_5, @talentos, {include_blank: true}
        .row
          .large-12.columns
            = hidden_field_tag "tipo_de_encuesta"

            -#%ul.button-group.round
            %ul.stack-for-small.round.button-group
              %li
                = link_to 'Perfil', "#", :onclick=>"descargar_resultados(1);", class: "small button disabled"
              %li
                = link_to 'Cómo manejar', "#", :onclick=>"descargar_resultados(2);", class: "small button disabled"
              %li
                = link_to 'Liderazgo', "#", :onclick=>"descargar_resultados(3);", class: "small button disabled"
              %li
                = link_to 'Ideas', "#", :onclick=>"descargar_resultados(4);", class: "small button disabled"
              %li
                = link_to 'Libros y peliculas', "#", :onclick=>"descargar_resultados(5);", class: "small button disabled"
